* {
    font-family: 'Epilogue', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
}

:root {
    --border : 1rem solid rgba(0,0,0,0.2)
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    position: fixed;
    padding: 0 3.5rem;
    background-color: #28293E;
    top: 0;left: 0; right: 0;
    z-index: 1000;
}

.nav .logo i {
    color: #EF6D58;
    font-size: 2rem;
    margin-right: 2rem;
}

.header {
    background-color:  #28293E;
    color: white;
    padding: 0 3rem;
}

.nav-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.5rem;
    gap : 5rem;
}

.nav-flex a{
    color: white;
    text-decoration: none;
}

#menu-btn {
    display: none;
}


.side-bar {
    position: fixed;
    top: 0; left: 0;
    height: 100vh;
    width: 25rem;
    background-color: #F6DACA;
    z-index: 1200;
}

.side-bar .close-side-bar {
    text-align: right;
    padding: 2rem;
    padding-bottom: 0;
    display: none;

}

.side-bar .close-side-bar i{
    height: 3.5rem;
    width: 3.5rem;
    line-height: 3.4rem;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    background-color: #EF6D58;
    text-align: center;
    border-radius: .5rem;
}

.side-bar .close-side-bar i:hover{
    background-color: #2c3e50;
}
.side-bar .profile {
    padding: 3rem 2rem;
    text-align: center;
}

.side-bar .profile img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}

.side-bar .profile h3 {
    font-size: 1.5rem;
    color: #2c3e50;
}

.side-bar .profile span {
    color: #888;
    font-size: 1.5rem;
}

.side-bar .navbar {
    margin-top: 1rem;
}

.side-bar .navbar a {
    display: block;
    padding: 1rem;
    margin: 1rem 0;
    text-decoration: none;
    font-size: 1.8rem;
}

.side-bar .navbar a i{
    color: #EF6D58;
    margin-right: 1.5rem;
    transition: .2s linear;
}

.side-bar .navbar a span{
    color: black;
}

.side-bar .navbar a:hover {
    background-color: #eee;
}

.side-bar .navbar a:hover i {
    margin-right: 2.5rem;
}

.side-bar.active {
    left: -25rem;
}



@media (max-width:1500px) {
    body {
        padding-left: 0;
    }
    .side-bar {
        transition: .2s linear;
        left: -25rem;
    }

    .side-bar.active {
        left:  0;
        box-shadow: 0 0 0 100vw rgb(0, 0, 0, 0.7);
    }
    .side-bar .close-side-bar {
        display: block;
    }
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color:  #28293E;
    color: white;
    padding: 3rem 1.5rem;
    gap: 2rem;
}

.hero-content {
    flex: 1;
    max-width: 50%;
}

.hero-content h1 {
    font-size: 4rem;
    padding: 2rem 0;
}

.hero-content p {
    color: gray;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.hero-content .color-para {
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.hero-content .author {
    display: flex;
    flex-direction: row;
    padding-top: 6.5rem;
    gap: 1rem;
}

.hero-content .author img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
}

.hero-content .author .author-thoughts {
    text-align: left;
    line-height: 1.2;
}

.hero-content .author .author-thoughts p{
    padding-bottom: 1rem;
}

.hero-img {
    flex: 1;
    max-width: 45%;
}

.hero-img img {
    width: 100%;
    height: 40rem;
    object-fit: contain;
}

.contact {
    border: none;
    font-size: 2rem;
}

.btn-flex {
    gap: 1rem;
}

.btn-contact {
    padding: 1rem;
    border-radius: .5rem;
    color: white;
    background-color: #28293e;

}
.brands {
    overflow-x: visible !important;
    display: flex;
    gap: 10rem;
    padding-top: 1rem;
    background-color: #FDF0E9;
}

.brands .brands-container {
    display: flex;
    gap: 10rem;
    animation: brands 10s linear infinite;
}


@keyframes brands {
    0% {
        transform: translateX(0%);
    }
    0% {
        transform: translateX(-100%);
    }
}

.brands:hover .brands-container {
    animation-play-state: paused;
}

.brands .brands-container img {
    height: 6rem;
    width: 9.5rem;
}



.contact  button{
    padding: .75rem 1.2rem;
    color: white;
    background-color: #28293e;
    border: .01rem solid white;
    border-radius: .4rem;
}

.contact:hover {
    transform: scale(1);
    border-radius: .4rem;
    border: .01rem solid white;
}

.color-para {
    color : #EF6D58;
}

.btn-design {
    color: white;
    background-color: #EF6D58;
    padding: 1rem;
    border-radius: .4rem;
    margin-right: 2.5rem;
}

a:hover {
    transform: scale(1.1);
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.section {
    background-color: #FDF0E9;
    border-top: .06rem solid #d3896f;
    padding: 2rem;
}

.section-1{
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2.5rem;
    align-items: center;
    color: black;
    font-size: 3rem;
}


.section-1 .hero-content h2 {
    font-size: 3.5rem;
    padding: 1.5rem 0;
}

.section-1 .hero-content span {
    font-size: 1.5rem;
}

.section-1 .hero-content .color-para {
    padding-bottom: 2rem;
    font-size: 1.5rem;
}


.section-btn {
    color: black;
    font-size: 1rem;
    background-color: white;
    border-radius: .4rem;
    padding: 1rem 2rem;
    border: none;
    font-weight: bolder;
}

.section-2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 2.5rem;
    font-size: 1.4rem;
}

.box {
    padding: 1rem; 
    width: 33%;
    border: .05rem solid #EF6D58;
}

.section-2 .counter {
    color: #EF6D58;
}

.section-para {
    padding: 1.5rem 0;
}

.section .box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.5rem;
    flex-wrap: wrap;
    font-size: 1.4rem;
    margin: 3rem;
}

.left {
    flex: 1;
    min-width: 16rem;
}


.left h5 {
    color: #d3896f;
    font-size: 1.5rem;
    margin-bottom: .6rem;
    text-transform: uppercase;
    letter-spacing: .4rem;
}

.left h2 {
    color: #2c1004;
    margin: 1.5rem 0;
}

.left p {
    font-size: 1.5rem;
    color: #777;
    margin: 1.5rem 0;
}

.left a {
    color: #5b3b2f;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
}

    .right {
      flex: 1;
      padding-left: 3rem;
      min-width: 16rem;
      font-size: 3rem;
    }

    .item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 1.5rem;
    }

    .item-number {
      font-size: 3rem;
      font-weight: bold;
      color: #3d1d00;
      width: 2.5rem;
    }

.item-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3d1d00;
    margin-left: 1rem;
    /* max-width: 20rem; */
}

.section-3{
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: black;
    gap: 2rem;
}

.section-3 .box-content {
    max-width: 50%;
}

.section3-list ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section3-btn {
    padding: 0;
    background-color: #FDF0E9;
}

.section3-btn:hover {
    color: black;
    background-color: white;
    text-decoration: solid;
    padding: .1rem;
    border-radius: .1rem;
}

.section-4{
    gap: 8rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 1.5rem;
    align-items: center;
    color: black;
}

.section-4 .section4-video{
    max-width: 45%;
    border-radius: .1rem;
}

.section-4 .section4-video video{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: .8rem;
}

.video-content {
    font-size: 2rem;
}

.box-content *, ol *{
    max-width: 50%;
    margin-bottom: 1.5rem;
}

h1 *{
    display: inline;
}


.section-4 *{
    margin-bottom: 1rem;
}

.products {
    background-color: #28293E;
    color: white;
    padding: 1rem 2rem;
}

.portfolio {
    text-align: center;
    background-color: #28293E;
    /* color: white; */
    padding-top: 2rem;
    font-size: 1.8rem;
}

.portfolio-items h2 {
    margin: 1rem 0;
}

.portfolio-links *{
    color: gray;
}

.search-box {
    display: none;
}

.prod-heading1{
    margin: 1.5rem 0;
}

.portfolio a {
    color: white;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-decoration: none;
    padding-top: .1rem;
}


.product-flex {
    max-width: 100%;
    height: 25rem;
    margin: 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.prodbox1, .prodbox2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 3rem;
    height: 15rem;
}


.prod-sofa::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    filter: blur(1px);
    z-index: 1;
}

.prod-sofa {
    position: relative;
    height: 95%;
}


.prod-sofa * {
    position: relative;
    top: 8rem;
    left: 2rem;
    z-index: 2;
    font-size: 1.5rem;
    font-weight: 900;
}

.prod-keyboard {
    position: relative;
    height: 95%;
}

.prod-keyboard::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    filter: blur(1rem);
    z-index: 1;
}

.prod-keyboard * {
    position: relative;
    top: 8rem;
    font-size: 1.5rem;
    left: 2rem;
    z-index: 1;
    font-weight: bolder;
}

.prod-border {
    display: inline-block;
    padding: .5rem 1rem;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: .5rem;
    background-color: white;
    color: black;
    border-radius: 1rem;
} 

.prodbtndiv {
    display: block;
    text-align: center;
    margin-bottom: 4.5rem;

}

.prod-btn {
    background-color: #28293E;
    color: white;
    padding: 0.8rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    border: 0.1rem solid white;
}

.prod-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 2.5rem 3rem;
    background-color: #FDF0E9;
    border-radius: .5rem;
    position: relative;
}

.prod-container .box {
    border: none;
    text-align: center;
}

.prod-container .box .content {
    padding: 2rem;
}

.prod-container .box:first-child {
    text-align: left;
}

.prod-container .box p{
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: bolder;
    color: black;
}


.prod-container .box img {
    width: 19rem;
    height: 17rem;
    object-fit: contain;
}

.prod-container .box .img1 img {
    height: 18rem;
    max-width: 100%;
    object-fit: cover;
    padding-top: 2rem;
}


.prod-container .box .img2{
    position: absolute;
    top: -1.5rem; 
    right: 2rem; 

}

.prod-container .box .img2 img {
    height: 20rem;
    max-width: 40rem;
    object-fit: contain;
}


.prod-container .box .btn-prod {
    display: inline-block;
    color: white;
    background-color: #EF6D58;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    font-weight: bolder;
}


.flexbox {
    width: 100%;
    height: 40rem;
    margin-top: 3rem;
}
.container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1rem 3rem;
            gap: 2rem;
}
        .row1, .row2 {
            display: flex;
            width: 100%;
            gap: 2rem;
        }
        .flexbox .container .box1, .flexbox .container .box4 {
            width: 40%;
            height: 15rem;
            background-image: url('Images/prod1.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left;
            border-radius: .5rem;
        
        }
        .flexbox .container .box2, .flexbox .container .box3 {
            width: 60%;
            height: 15rem;
            background-image: url('Images/prod2.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left;       
            border-radius: .5rem;
        }

        .flexbox .container .box3 {
            background-image: url('Images/prod3.png');
        }

        .flexbox .container .box4 {
            background-image: url('Images/prod4.png');
        }

        @media (max-width:600px) {
            .row1, .row2 {
                flex-direction: column;
                gap: 3rem;
                
            }
            .flexbox .container .box1,.flexbox .container .box2,.flexbox .container .box3 {
                width: 90%;
                margin-bottom: 1rem;
                padding: 0 1rem;
            }
            .flexbox .container .box4 {
                display: none;
            }

            .container {
                align-items: center;
                
            }
            .flexbox {
                height: 60rem;
            }
        }




.grid{
    background-color: #28293E;
    color: white;
}


.developers .content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem 4rem;
}

.developers .content .text {
    text-align: left;
    font-size: 3rem;
}

.developers .content .text p {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.developers .content .controls {
    font-size: 1.4rem;
}

.developers .content .controls #prev-btn {
    padding: .6rem;
    border: .01rem solid white;
    border-radius: 50% ;
}

.developers .content .controls #next-btn {
    padding: .6rem;
    border: .01rem solid white;
    border-radius: 50% ;
}

.developers .dev-images {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    margin: 2rem 0;
}

.developers .dev-images .card:hover {
    transform: scale(1.1);
}

.developers .dev-images .card img {
    height: 15rem;
    width: 15rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    object-fit: contain;
    border: .1rem solid rgba(255,255,255,0.1);
    border-radius: 0.5rem;
}

.developers .dev-images .card .text-content h3 {
    display: block;
    font-size: 2rem;
    text-align: left;
    margin: 1.5rem 0;
}

.developers .dev-images .card .text-content span {
    color: lightgray;
    font-size: 1.4rem;
}

.developers .dots {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
    gap: 2rem;
}

.developers .dots .dot {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: inline-block;
    /* color: #28293E; */
    border: .01rem solid white;
    /* transition: bac; */
}

.developers .dots .dot.active {
    background: #EF6D58;
}

.pricing-section {
    width: 100%;
    background: #FDF0E9;
    padding: 3rem 0; 
    position: relative;
}

.pricing-content {
    font-size: 2.1rem;
    position:absolute; 
    left : 5rem; 
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.pricing-content p {
    margin-bottom: 1.5rem;
}

.pricing-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 12rem;
    font-size: 1.4rem;
    overflow-y: hidden;
}

.pricing-card {
    border-radius: .8rem;
    border: 0.01rem solid #EF6D58;
    padding: 2rem 1.5rem;
    flex: 1 1 35rem;
    max-width: 29%;
    transition: transform 0.3s ease;
}

.popular {
    display: inline-block;
    padding: .6rem 1rem;
    margin-bottom: 1rem;
    color: white;
    background-color: #EF6D58;
    border-radius: 1rem;
}

.pricing-card:nth-child(even){
    margin-top: -0px;
    background-color: white;
}

.pricing-card:hover {
    transform: translateY(-5px);
}

.plan-title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
}

.price {
    font-size: 2.2rem;
    color: black;
    margin-bottom: 1.5rem;
}

.features {
    list-style: none;
    padding: 0;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

.features li {
    margin: 1.5rem 0;
    color: #555;
}

.fa-plus{
    display: inline;
    background-color: #EF6D58;
    border-radius: 50%;
    padding: 0.1rem;
    margin-right: .5rem;
}

.fa-minus {
    display: inline;
    background-color: #F6DACA;
    border-radius: 50%;
    padding: 0.1rem;
    margin-right: .5rem;

}

.btn {
    background-color: white;
    color: black;
    padding: 1rem 2rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 1rem;
    transition: background 0.3s;
}

.pricing-card:nth-child(2) .btn{
    background-color: #EF6D58;
    color: white;
    font-weight: bold   ;
}

.btn:hover {
    background-color: white;
}

.faq {
    background-color: #FDF0E9;
    display: flex;
    justify-content: space-around;
    padding: 3.5rem 4.5rem;
    text-align: left;
    font-size: 2rem;
}

.faq-content {
    margin-right: 2rem;
}

.faq-content *{
    margin-bottom: 1.5rem;
}

.faq-container {
    width: 50%;
    margin: auto;
    background: #fff; 
    border: 0.01rem solid #EF6D58;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}

.faq-item {
    border-bottom: 0.1rem solid #EF6D58;
}

.faq-question {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s;
}

.faq-question:hover {
    background-color: #f0f0f0;
}

.arrow {
    color: white;
    background-color: #EF6D58;
    padding: .5rem;
    border-radius: 50%;
    transition: transform 0.3s;
}

.arrow.rotate {
    transform: rotate(180deg);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 1rem;
    color: grey;
    background-color: white;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.faq-answer.open {
    max-height: 13.5rem;
    padding: 1rem;
}

.faq-question.open {
    background-color: white;
}

.form{
    height: 50rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
    border: 1rem solid none;
    background: url('Images/map.png') right /cover no-repeat;
}


form{
   background-color: white;
   padding: 3rem 4.5rem;
   border-radius: .5rem;
   width: 30%;
   text-align: left;
   border: 1rem solid none;
}

form h3{
   margin-bottom: 1rem;
   text-transform: capitalize;
   color:var(--black);
   font-size: 2.5rem;
}

form .box{
   width: 90%;
   border-radius: .5rem;
   background-color: var(--light-bg);
   margin: 1rem 0;
   padding: 1.4rem;
   font-size: 1.8rem;
   color: var(--black);
}

.form form .inline-btn {
    text-transform: uppercase;
    background-color: #EF6D58;
    font-weight: bolder;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.3rem;
    color: white;
    position: sticky;
    left: 30rem;
    margin-top: .7rem;
}

.form .location {
    text-align: center;
}

.form i {
    color: white;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: #EF6D58;
    align-self: center;
}

.form .map i {
    display: none;
}

.form img {
    display: none;
}

.footer{
    padding-top: 3.5rem;
    background-color: #FDF0E9;
}

.foot-panel1 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.foot-panel1 ul{
    margin-top: 1rem;
    list-style-type: none;
}

ul a{
    display: block;
    font-size: 1.6rem;
    margin-top: .6rem;
    color: black;
}

.social-media{
    display: flex;
}

.social-media i{
    display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 50%;
	padding: 0.8rem;
    margin-right: 0.5rem;
    background-color: #EF6D58;
    color: white;
}

.social-media a{
    display: inline-block;
    text-decoration: none;
    padding-bottom: 1.5rem;
}

.foot-panel2 {
    display: flex;
    justify-content: space-between;
    margin-right: 1.5rem;
    align-items: center;
    gap: .6rem;
    font-size: 1.6rem;
    padding: 2.5rem 2rem;
    margin: .7rem 0;
}

.right-items {
    display: flex;
    gap: 5rem;
}

.foot-heading {
    margin-bottom: 1.5rem;
}

@media (max-width:980px) {
    .faq-container {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .section-4 {
        flex-direction: column;
        text-align: center;
        margin: 0;
        gap: 1rem;
    }
    .section-4 .section4-video {
    flex: 1;
    max-width: 90%;
    border-radius: .1rem;
    }
    .video-content {
        margin: 1rem 3rem;
        text-align: left;
    }
    .container {
        flex-direction: column;
        overflow-x: hidden;
        font-size: 2.5rem;
    }
    /* .left, .right {
        width: 100%;
    } */
    .pricing-section{
        position: static;
    }
    .pricing-content {
        position: static;
        padding-left:  2rem;
        display: block; 
        font-size: 1.5rem;
    }
    .pricing-row {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        font-size: 1.4rem;
    }
    .pricing-card {
        max-width: 80%;
    }
    .faq {
        flex-direction: column;
        font-size: 1.7rem;
    }
    .faq-content {
        margin-right: 0;
        margin-bottom: 2rem;
    }
}

@media (max-width : 1025px) {
    .section-1 .hero{
        flex-direction: column;
    }
    .section-1 .hero-content, .hero-img {
        max-width: 100%;
        text-align: center;
    }
    .section-1 .hero-img img {
        width: 100%;
        height: auto;
    }
}

@media (max-width : 900px) {
    .hero{
        flex-direction: column-reverse;
    }
    .hero-content, .hero-img {
        max-width: 100%;
        text-align: center;
    }
    .hero-img img {
        width: 100%;
        height: auto;
    }
    .hero-content .author {
        padding-top: 4rem;
    }
    .hero-content h1 {
        font-size: 3rem;
    }

    .section-1{
        flex-direction: column;
    }
    html {
        font-size: 58%;
    }
}

@media (max-width : 655px) {
    .section-2 {
        flex-direction: column;
        padding: 2.5rem 0;
    }
    .faq{
        flex-direction: column;
        margin: 0;
        padding-top: 2rem;
    }
    .box {
        width: 80%;
    }
}

@media (max-width : 675px) {
    .nav-flex, .contact {
        visibility: hidden;
        display: none;
    }
    #menu-btn {
        display: block;
        font-size: 2rem;
        margin-top: 1rem;
        padding: 1rem;
        border: 0.1rem solid white;
        border-radius: .5rem;
    }
    .logo {
        margin-top: 1rem;
    }
}

@media (max-width : 700px) {
    .foot-panel1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        text-align: center;
    }
    .foot-panel2 {
        flex-direction: column;
        margin-right: 0;
    }
    .right-items {
        margin-top: .5rem;
    }
    .prod-container {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .prod-container .box .img2 {
        position: static;
    }
}

@media (max-width:470px) {
    .footer {
        padding-top: 0;
    }

    .portfolio-links {
        display: none;
        visibility: hidden;
    }
    .search-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        color: gray;
        max-width: 90%;
        max-height: 5rem;
        margin:0 2rem;
        border-radius: .5rem;
    }
    .search-box p{
        padding: .7rem .8rem;
    }
    .arrow {
        background-color: white;
        color: #EF6D58;
    }
    .product-flex {
        margin: 1.5rem 1.5rem;
        height: 30rem;
        display: block;
    } 
    .prodbox1, .prodbox2{
        display: block;
        height: 12rem;
    }
    .prod-sofa, .prod-keyboard {
        width: 100%;
    }
    html {
        font-size: 55%;
    }
    .prod-container {
        margin: 2rem 3rem;
    }
    .form {
        background: none;
        background-color: #FDF0E9;
        flex-direction: column;
        height: 65rem;
        gap: 2rem;
        padding: 2.5rem 0;
    }
    .form form {
        width: 75%;
        padding: 2rem 3rem;
        margin: 0;
        font-size: 1.5rem;
    }
    .form .location {
        display: none;
    }
    .form .map img {
        display: block;
        width: 100%;
        height: 30rem;
    }
}

@media (max-width : 400px) {
    .btn-design, .btn-contact {
        font-size: 1.5rem;
        padding: .75rem;
        margin-bottom: 1rem;
    }
    .btn-design {
        margin-right: 0;
    }
}

@media (max-width:660px) {
    .developers .content .controls {
        display: none;
    }
}

@media (max-width: 768px) {
    .box-container {
        flex-direction: column;
    }
    .box-container .right {
        margin-left: 0;
    }
}